div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}
.div1 {
  display: inline-block;
}
.div2{
  display:inline-block;
  	margin-left: 79.6%;

}


.div3{
	display: inline-block;
	margin-right: 0%
}
