div {
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;
}
.div1 {
  position: absolute;
  left:500px;
  top:40px	;
  display: block;
  background-color:gray;
}
.div2{
   width: 150px;
  height: 150px;
  position: relative;
  margin: 100px 130px;
   display:block;
  	
}