	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
    width:220px;
    height:280px;
	  display: block;
	  position: relative;
    background-color: gray;
	  	}

	.div2{
	  display:block;
	  position: relative;
	  left:318px;
	  bottom: 20px;

	}
	.div4 {
    width:220px;
    height:280px;
	  display: block;
	  position: absolute;
	  top: 220px;
    left:56%;
    background-color: gray;
	  	}


	.div3{
	  display:block;
	  position: relative;
	  right:280px;
	  top: 80px;

	}

	.main{
		height: 500px;
		width: 500px;
		position: absolute;
		background-color: blue;
	}