	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 300px;
	  height: 600px;
	  display: block;
	  position: absolute;
	  background-color: gray;
	  	}
	.div2{
	  display:block;
	  position: relative;
	  left: 200px;
	  top: 400px;

	}

	.div3{
    background:#93b4cd;
		position: relative;
    top:100px;
    right:80px;
		display: block;

		
	}
