	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 500px;
	  height: 300px;
	  display: block;
	  position: absolute;
	  top:58%;
	  left:17%;
	  background-color: gray;
	  margin-left: 50%
	}
	.div2{
	  display:block;
	  position: relative;
	  	top:100px;

	}


	.div3{
		position: relative;
		bottom: 199px;
		left:320px;
		display: block;

		
	}
