	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 500px;
	  height: 300px;
	  display: block;
	  position: absolute;
	  background-color: gray;
	}
	.div2{
	  display:block;
	  position: relative;
	  	top:100px;
	  	margin-left: 320px

	}


	
