	div {
	  width: 100px;
	  height: 100px;
	  background-color: black;
	  color: white;
	}
	.div1 {
	  display: block;
	  margin-left: 93%
	}
	.div2{
	  display:block;
	  	margin-left: 45.6%;

	}


	.div3{
		display: block;
		
	}
