	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 300px;
	  height: 600px;
	  display: block;
	  position: absolute;
	  background-color: gray;
	  	}
	.div2{
	  display:block;
	  position: relative;
	  left: 50px;
	  bottom: 18px;

	}


	.div3{
		position: relative;
		left: 50px;
		top:220px;
		display: block;

		
	}
