	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 600px;
	  height: 250px;
	  display: block;
	  position: absolute;
	  background-color: gray;
	  	}
	.div2{
	  display:block;
	  position: relative;
	  left: 50px;
	  top: 10px;

	}


	.div3{
		position: relative;
		left: 370px;
		bottom: 170px;
		display: block;

		
	}
