	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
		width: 300px;
	  height: 600px;
	  display: block;
	  position: absolute;
	  background-color: gray;
	  	}
	.div2{
	  display:block;
	  position: relative;
	  left: 120px;
	  top: 400px;

	}

	.div3{
    background:gray;
		position: relative;
    height:100px;
    width:100px;
    top:50px;
    left:60px;
		display: block;

		
	}
