	div {
	  width: 180px;
	  height: 180px;
	  background-color: black;
	  color: white;
	}
	.div1 {
    width:400px;
    height:400px;
	  display: block;
	  position: absolute;
    left:75%;
    background-color: gray;
	  	}

	.div2{
	  display:block;
	  position: relative;
	  top:50%;

	}