	div {
	  width: 100px;
	  height: 100px;
	  background-color: black;
	  color: white;
	}
	.div1 {
	  display: block;
	  position: absolute;
	  	}

	.div2{
	  display:block;
	  position: relative;
	  top:30%;
    left:50%;
	  background-color: gray;

	}
.div3{
	  display:block;
	  position: relative;
	  top:30%;
    left:50%;

	}