div {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
}
.div1 {
  position: absolute;
  display: block;
  
}
.div2{
  position: relative;
  margin: 70px 0 0 60px;
  display:block;
  background-color:gray;
    
}